//ENABLE OR DISABLE SECOND TEMPLATE
$enable: false;

//GLOBAL VARIABLES
$border: 1px solid #000000;
$border1: 1px solid #ff982c;

$color: #FFFFFF;
$color1: #2813ff;

$bg-color-hover: #ff9409;
$bg-color-hover1: #ff1802;

$padding: 5px;
$padding1: 10px;

//BRAND.SCSS
$header-brand-bg: #000000;
$header-brand-bg1: #ffb41b;

//BUTTON.SCSS
$nav-button-display: block;
$nav-button-textTransform: uppercase;

//LINKS.SCSS
$nav-button-bg: #dddddd;
$nav-button-bg1: #787878;
