@import "../variables.scss";

//NAVIGATION MENU
nav.menu {
  display: $nav-button-display;
}


@mixin menu($list-style, $text-transform, $position, $left, $top) {
  list-style: $list-style;
  text-transform: $text-transform;
  position: $position;
  left: $left;
  top: $top;
}

ul {
  @include menu(none, $nav-button-textTransform, absolute, 300px, 10px);
}
//NAVIGATION MENU END